/* ALL LEVELS */
.navList, .navList ul {
	list-style-type:none;
	padding:0px;
	margin:0px;
}
.navList {
        display:block;
}
.navList li {
	display:block;
	background:#CCCCCC;
}
.navList-horz li > a > span {
	display:block;
	padding:0px 10px;
}
.navList a {
	text-decoration:none;
}

/* LEVEL 0 */
.navList-horz > li {
	display:inline-block;
	width:auto;
	background:#CCCCCC;
}

/* LEVEL 1 and below */

.navList-horz ul {
	display:none;
	position:absolute;
	width:130px;
	left:auto;
}
.navList-horz li:hover > ul {
	display:block;
}

.navListLevel1 ul {
}

/* LEVEL 1 */
